accelerate==1.0.1
affine==2.4.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Automat==22.10.0
axial-positional-embedding==0.2.1
Babel==2.14.0
backcall==0.2.0
basemap==1.4.1
basemap-data==1.3.2
basemap-data-hires==1.3.2
beautifulsoup4==4.12.3
bleach==6.1.0
charset-normalizer==3.4.2
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
CoLT5-attention==0.10.20
comm==0.2.2
constantly==23.10.4
contextily==1.5.2
d2l==1.0.3
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.16.3
defusedxml==0.7.1
docopt==0.6.2
document==1.0
docx==0.2.4
docx2txt==0.8
einops==0.8.1
exceptiongroup==1.2.1
executing==2.0.1
faiss-gpu==1.7.2
fastdtw==0.3.4
fastjsonschema==2.19.1
filelock==3.16.1
fiona==1.10.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2025.3.0
furl==2.1.3
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.1
greenlet==3.0.3
h11==0.14.0
hf-xet==1.1.2
hjson==3.1.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.32.2
hyperlink==21.0.0
idna==3.10
imageio==2.35.1
importlib_metadata==7.1.0
incremental==22.10.0
ipykernel==6.29.4
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.6
joblib==1.4.0
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.41.1
local-attention==1.9.1
lxml==5.3.0
mamba-ssm @ file:///remote-home/jiangxudong/S-D-Mamba-new/S-D-Mamba-main/mamba_ssm-2.2.2%2Bcu118torch2.4cxx11abiFALSE-cp38-cp38-linux_x86_64.whl#sha256=117ce8e4d1522c6ecbb0e834cb26a51dc0d17cd12485e3ef91704be643398f7c
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
mercantile==1.2.1
mistune==3.0.2
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.30.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
ninja==1.11.1.4
notebook==7.1.3
notebook_shim==0.2.4
numba==0.58.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.9.41
nvidia-nvtx-cu12==12.1.105
orderedmultidict==1.0.1
orjson==3.10.12
overrides==7.7.0
packaging==24.0
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pkgutil_resolve_name==1.3.10
platformdirs==4.2.1
plotly==6.0.0
pooch==1.8.2
product-key-memory==0.2.10
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache==0.2.0
psutil==5.9.8
ptflops==0.7.3
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
Pygments==2.17.2
python-docx==1.1.2
python-json-logger==2.0.7
PyWavelets==1.4.1
PyYAML==6.0.2
pyzmq==26.0.2
qtconsole==5.5.1
QtPy==2.4.1
rasterio==1.3.11
redo==2.0.4
referencing==0.35.0
reformer-pytorch==1.4.4
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
safetensors==0.5.3
scikit-learn==1.3.0
scipy==1.10.1
Send2Trash==1.8.3
sentence-transformers==3.2.1
sentencepiece==0.2.0
sniffio==1.3.1
snuggs==1.4.7
soundfile==0.13.1
soupsieve==2.5
soxr==0.3.7
SQLAlchemy==2.0.29
stack-data==0.6.3
sympy==1.13.3
tenacity==8.5.0
terminado==0.18.1
threadpoolctl==3.4.0
tinycss2==1.3.0
tokenizers==0.20.3
tomli==2.0.1
torch==2.4.1
torchaudio==2.4.1
tornado==6.4
tqdm==4.67.1
traitlets==5.14.3
transformers==4.46.3
triton==3.0.0
Twisted==24.3.0
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.13.2
uri-template==1.3.0
urllib3==2.2.3
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.10
xarray==2023.1.0
xyzservices==2025.1.0
yarl==1.15.2
zope.interface==6.2
